<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Account">
    <setting id="api_key" type="text" label="API Key" default=""/>
    <setting id="username" type="text" label="Username" enable="false" default=""/>
  </category>
  <category label="FAL">
    <setting id="batch_size" type="enum" label="Images per batch" values="5|10" default="10"/>
  </category>
  <category label="Storage">
    <setting id="auto_save" type="bool" label="Auto-save to My Percfect Pics" default="true"/>
    <setting id="save_folder" type="folder" label="My Percfect Pics folder" default="special://profile/addon_data/plugin.video.percfectstudios/My Percfect Pics/"/>
  </category>
</settings>